mixin formHead(title, desc)
  .formHead
    .title= title
    .desc= desc

mixin textForm(title, desc, cont)
  .textForm
    +formHead(title, desc)
    .formContent
      .content= cont

mixin formMenu(title, desc, cont, menu)
  .formMenu
    +formHead(title, desc)
    .contMenu
      .content
        .cont= cont
        .menu= menu
      if block
        block

mixin drop(text, but)
  .drop
    .text= text 
    .butMinus -
    .but= but
    .butPlus +
      
mixin decision(clr, apply)
  .decision
    .clr= clr
    .apply= apply
    
mixin checkList(title, icon)
  .checkList
    .listTitle
      .title= title
      .icon= icon
    block
    
mixin checkItem(text)
  .checkItem 
    .checkBox
    .checkText= text
      
mixin checkedItem(text)
  .checkItem.checked
    .checkBox
      .check check
    .checkText= text

mixin addition(icon, title, desc)
  .addition
    .addCont
      .icon= icon
      .text 
        .title= title 
        .desc=desc
    hr
      
mixin radioItem(btn, desc)
  .radioItem
    .btn= btn
    .desc= desc
    
mixin toggleItem(desc)
  .toggleItem
    .btn
      .round
    .desc= desc
    
mixin likeItem(icon, num)
  .likeItem
    .icon= icon
    .num= num
    

    
mixin rateItem(full, empty)
  .rateItem
    - for (var x = 0; x < full; x++)
      .item star
    - for (var x = 0; x < empty; x++)
      .item star_border
      
mixin slider
  .slider
    .line 
    .rangeLine
    .round.start
    .round.end
      
      
mixin btn 
  .btn
    .desc
      p click me


mixin btnPay
  .btnPay
    .text Перейти к оплате
    .arrow arrow_forward
    
mixin pag
  .pagItems
    .pagItem.pagStart 1
    .pagItem.pagMiddle 2
    .pagItem.pagMiddle 3
    .pagItem.pagMiddle ...
    .pagItem.pagMiddle 15
    .pagItem.pagEnd arrow_forward

mixin bulletItem(text)
  .bulletItem
    .bulletIcon
    .bulletText= text
    
mixin blogItem(photo, user, time)
  .blogItem
    .photo
      img(src= photo)
    .content
      .user= user
      .time= time

mixin blogLike(icon, num, text)
  .blogLikeItem
    .likeItem
      .like= icon
      .num= num
    .text= text
