mixin formHead(title, desc)
  .formHead
    .title= title
    .desc= desc

mixin textForm(title, desc, cont)
  .textForm
    +formHead(title, desc)
    .formContent
      .content= cont

mixin formMenu(title, desc, cont, menu)
  .formMenu
    +formHead(title, desc)
    .contMenu
      .content
        .cont= cont
        .menu= menu
      if block
        block


mixin form-drop(content)
  //-content = [{title: 'title666', desc: 'description666', form: 'form666', menu: 'menu', items: [{item : 'item666', number: 0}, {item : 'item6662', number: 666}], clear: 'clear666', apply: 'apply666'}];
  each cont in content  
    if cont.items
      - var dropStyle = 'open'
    
    .drop__head
      .drop__title= cont.title 
      .drop__desc= cont.desc
      
    if cont.form
      .drop__main(class!= dropStyle)
        .drop__form= cont.form
        .drop__menu= cont.menu

    if cont.items
      .drop__items
        each item in cont.items
          if item.number == 0
            .drop__item(class= 'light')
              .item-text= item.item 
              .item-minus -
              .item-number= item.number
              .item-plus +
          else
            .drop__item
              .item-text= item.item 
              .item-minus -
              .item-number= item.number
              .item-plus +
            
        if cont.clear || cont.apply
          .drop__decision
            .decision-clr= cont.clear
            .decision-apply= cont.apply


mixin dropDown(title, desc, cont, menu)
  if block
    - var style = 'open'
  .dropDown
    +formHead(title, desc)
    .dropMain(class!= style)
      .content
        .cont= cont
        .menu= menu
    if block
      .dropContent
        block


mixin drop(text, but)
  .drop
    .text= text 
    .butMinus -
    .but= but
    .butPlus +
      
mixin decision(clr, apply)
  .decision
    .clr= clr
    .apply= apply
    
mixin checkList(title, icon)
  .checkList
    .listTitle
      .title= title
      .icon= icon
    .listContent
      block
    
mixin checkItem(text)
  .checkItem 
    .checkBox
    .checkText= text
      
mixin checkedItem(text)
  .checkItem.checked
    .checkBox
      .check check
    .checkText= text

mixin addition(icon, title, desc)
  .addition
    .addCont
      .icon= icon
      .text 
        .title= title 
        .desc=desc
    hr
      
mixin radioItem(btn, desc)
  .radioItem
    .btn= btn
    .desc= desc
    
mixin toggleItem(desc)
  .toggleItem
    .btn
      .round
    .desc= desc
    
mixin likeItem(icon, num)
  .likeItem
    .icon= icon
    .num= num
    

    
mixin rateItem(full, empty)
  .rateItem
    - for (var x = 0; x < full; x++)
      .item star
    - for (var x = 0; x < empty; x++)
      .item star_border
      
mixin slider
  .slider
    .line 
    .rangeLine
    .round.start
    .round.end
      
      
mixin btn 
  .btn
    .desc
      p click me


mixin btnPay
  .btnPay
    .text Перейти к оплате
    .arrow arrow_forward
    
mixin pag
  .pagItems
    .pagItem.pagStart 1
    .pagItem.pagMiddle 2
    .pagItem.pagMiddle 3
    .pagItem.pagMiddle ...
    .pagItem.pagMiddle 15
    .pagItem.pagEnd arrow_forward

mixin bulletItem(text)
  .bulletItem
    .bulletIcon
    .bulletText= text
    
mixin blogItem(photo, user, time)
  .blogItem
    .photo
      img(src= photo)
    .content
      .user= user
      .time= time

mixin blogLike(icon, num, text)
  if(num<10)
    - var light = 'light'
    if !icon
      - var icon = 'favorite_border'
  else
    - var light = ''
    if !icon
      - var icon = 'favorite'
  .blogLikeItem
    .likeItem(class=light)
      .like= icon
      .num= num
    .text= text
